h1{
    color:purple;
    font-family; Havetica;   
}

hi{
 margin: .67 em 0;
    font-family:rockwell,bold-serif,serif;
    color:white;
}
.tagline{
    background-color:#;
    height: px;
}
.mainnav{
}
    
.navbar-inverse {
  background-color: #blue;
  border-color: #blue;
}    
    
    .events{
        background-color: