/*
COLOR SAMPLES
Blue : #296bff







*/

h1{
    color:#296bff;
    font-family; Havetica;   
}

hi{
 margin: .67 em 0;
    font-family:rockwell,bold-serif,serif;
    color:white;
}
.tagline{
    background-color:#;
    height: px;
}
.mainnav{
}
    
.navbar-inverse {
  background-color:#296bff;
  border-color:black;
}    
    
    .events{
        background-color:
}

.footer
{
    background-color:#296bff;
    border-color:black;
    height:70px;
    
}