
/* this are my amazing style, dont dare ot steal them */
h1{}
h2{font-family: Verdana,sans-serif;color:#576D94;}
h3{font-size:17px;color:purple:}
h4{font-size:16px;color: green:}
h5{font-size:14px;color: magenta}
h6

img{border:20px;/*ned to add more on this *//*<img src="images/francisco.jpg"*/ border:20px,solid;height:100px; width:100px;}
p{color:red;font-family: Garamond,sarif; font-size:18px;/*    font-size:59px;*/color:#4a4943;}
a{color:purple;font-size:50px;font-family: sand-sarif;}
    
span {color: blue; font-size:50px;}